/* You can add global styles to this file, and also import other style files */
body{
  background-color:#F7F4E9;
}

:root{
  // --black: #312727;
  --black:rgb(49, 39, 39);

  --darkBlue:rgb(32, 9, 96);
}

.btn{
    background-color:rgb(1, 136, 136);
}

