// form{
//   width:80%;
//   margin:0 auto;
// }

main{

  width:80%;
  margin:10% auto 0;
}

a{
  color : var(--darkBlue);
}

.homeLink{
  margin:10% 0;
}

.message{
  margin-top:5%;
    a{
      padding-left:5%;
    }
}
