<main class="container d-flex">
  <section class="subContainer">

      <input #item [(ngModel)]="input" type="text" id="newtask" placeholder="Enter here" class="form-control">
      <button (click)="addItem(item.value)" class="btn mt-3">
      Add task </button>


  </section>

  <section class="subContainer todoListContainer">
      <h1>To Do List</h1>
      <!-- <hr> -->
      <div class="task"></div>

      <div class="tasks" >

          <!-- <ul class= "list-group" id="display"> -->
              <table class="d-flex flex-column justify-content-center align-items-cener" >
                <tr *ngFor="let item of list; let i= index"  #listedItem [style.display]="status" class="itemRow">
                  <td class="item">{{item}}</td>
                  <td><img (click)="edit(listedItem)" class="editBtn" src="../../assets/pen-to-square-solid.svg" width="20"></td>
                  <td><img (click)="delete(listedItem)" class="deleteBtn" src="../../assets/trash-can-solid (1).svg" width="20"></td>
                </tr>


              </table>
          <!-- </ul> -->
      </div>

  </section>




</main>
