<main>
  <p class="homeLink"><a routerLink="/">Home</a></p>

  <h1> Log In Page</h1>
  <!-- <form> -->
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input [(ngModel)]="userName" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button (click)="login()" type="submit" class="btn">Submit</button>
  <!-- </form> -->

  <p class="message">Don't have an accout yet?
  <a routerLink="/signUp">Sign up here</a>
  </p>

  <ng-template #errorMessage>

  </ng-template>
</main>
